.header {
  font-weight: 600;
  margin: 10px 0;
}
.container {
  display: flex;
}
.right-content {
  flex: 2;
}
.left-content {
  flex: 1;
}
.right-main-content {
  display: flex;
  width: 100%;
}
.right-main-content > .chat-container{
    flex: 1;
}
.owner-message{
    text-align: right;
}
